.events-mini-calender {
  margin-bottom: 20px;

  button {
    border: 1px solid #fff;
  }

  .react-calendar__month-view__days {
    button {
      &[disabled] {
        color: #000;
        background-color: #fff;
      }
    
      &.react-calendar__tile--now {
        background-color: #000 !important;
        color: #fff;
      }
    }
  }

  .react-calendar__navigation {
    display: flex;
  }
}

.calender-popover {
  ul {
    margin: 20px;
    padding: 0;
    list-style: none;
  }

  li {
    border-bottom: 1px solid #000;
    margin-bottom: 10px;
    padding: 10px;

    &:last-child {
      border-bottom: none;
      margin-bottom: 0;
    }
  }

  .duration {
    font-size: .9em;
    line-height: 2;
  }

  .close-button {
    background: transparent;
    padding: 0;
    margin: 15px;
    float: right;

    &:hover::before {
      color: #2e2d29;
    }
  }
}
